.container{
  text-align: center;
}

img{
  display: inline-block;
  width: 960px;
  height: 275px;
  border: 1px solid;
}

a
{
  text-decoration: none;
  font-size: large;
}

h1{
  font-size: 50px;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}